.topLayer {
  z-index: 1;
}

.middleLayer {
  z-index: 0;
}

.bottomLayer {
  background-color: black;
  opacity: .5;
  position: relative;
  z-index: -1;
}

.closeButton {
  display:none;
}

.showButton {
  position: relative;
  z-index:2;
  display:inline;
}

.gridContainer {
  display: grid;
  grid-template-columns: 8vw 4vw 13vw 25vw 25vw 25vw;
  grid-template-rows: 25vh 15vh 20vh 15vh 25vh;
  position: relative;
  background-image: none;
}

#topLayer {
  background-image: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar {
  grid-column-start: 1;
  grid-column-end: 1;
  border: 2px yellowgreen solid;
  grid-row-start:1;
  grid-row-end: 6;
  display: grid;
  position: relative;
  z-index: 0;
}

.coverphoto {
  grid-column-start: 4;
  grid-column-end: 6;
  border: 2px black solid;
  grid-row-start: 1;
  grid-row-end: 2;
  position: relative;
  z-index: 0;
}

.title {
  grid-column-start: 2;
  grid-column-end: 7;
  border: 2px blue solid;
  grid-row-start: 2;
  grid-row-end: 6;
  position: relative;
  z-index: 0;

}

.navbar button {
  background: yellowgreen;
  position: relative;
  z-index: 0;
}

.doNotDisplay{
  display:none;
  position: relative;
  z-index: 0;
}

.displayPage {
  display: inline;
  position: relative;
  z-index: 0;
}

.artPieces {
  width: 200px;
  height: 200px;
  object-fit:cover;
  border: 1px black solid;
  margin: 5px;
  position: relative;
  z-index: 0;
}

#title {
  overflow:auto;
}

